* {
    margin 0
    padding 0
}    
a{
    text-decoration none
    color:black
}
ol,ul{
    list-style none
}
.router-link{
    color:black
}
.title{
    text-align: center
    font-size: 1.4em;
}
.el-row .el-col{
    // !important重要的 行内元素需要使用
    margin-left 0 !important
    margin-right 0 !important
    padding-left: 0 !important
    padding-right 0 !important
}
// 样式穿透 <<<+类名